openapi: 3.0.3
info:
  title: 优选购物小程序 API
  description: |
    优选购物小程序 RESTful API 文档
    
    ## 基础信息
    - **基础URL**: `https://buysomething-6gbmbtpxff05be35.service.tcloudbase.com`
    - **环境**: 测试环境
    
    ## 认证方式
    - 测试阶段：Header 中传递 `Authorization: Bearer {token}`
    - 测试验证码：`0000` 可跳过验证码验证
    
    ## 响应格式
    所有接口返回统一 JSON 格式：
    ```json
    {
      "code": 0,
      "message": "success",
      "data": {}
    }
    ```
  version: 1.0.0
  contact:
    name: 优选购物开发团队

servers:
  - url: https://buysomething-6gbmbtpxff05be35.service.tcloudbase.com
    description: 测试环境

tags:
  - name: 用户
    description: 用户相关接口
  - name: 商品
    description: 商品相关接口
  - name: 购物车
    description: 购物车相关接口
  - name: 订单
    description: 订单相关接口

paths:
  /login:
    post:
      tags:
        - 用户
      summary: 用户登录
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - phone
                - password
              properties:
                phone:
                  type: string
                  description: 手机号
                  example: "13800138001"
                password:
                  type: string
                  description: 密码
                  example: "123456"
                code:
                  type: string
                  description: 短信验证码（测试阶段可用0000跳过）
                  example: "0000"
      responses:
        '200':
          description: 登录成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '400':
          description: 参数错误
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 认证失败
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /products:
    get:
      tags:
        - 商品
      summary: 获取商品列表
      operationId: getProductList
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
          description: 页码
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
          description: 每页数量
        - name: categoryId
          in: query
          schema:
            type: string
          description: 分类ID
        - name: keyword
          in: query
          schema:
            type: string
          description: 搜索关键词
        - name: sort
          in: query
          schema:
            type: string
            enum: [price_asc, price_desc, sales]
          description: 排序方式
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListResponse'

  /product-detail:
    get:
      tags:
        - 商品
      summary: 获取商品详情
      operationId: getProductDetail
      parameters:
        - name: productId
          in: query
          required: true
          schema:
            type: string
          description: 商品ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductDetailResponse'

  /cart:
    get:
      tags:
        - 购物车
      summary: 获取购物车列表
      operationId: getCartList
      parameters:
        - name: userId
          in: query
          schema:
            type: string
          description: 用户ID（测试用）
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartListResponse'
    post:
      tags:
        - 购物车
      summary: 添加商品到购物车
      operationId: addToCart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - productId
              properties:
                userId:
                  type: string
                  description: 用户ID（测试用）
                productId:
                  type: string
                  description: 商品ID
                quantity:
                  type: integer
                  default: 1
                  description: 数量
                spec:
                  type: object
                  description: 规格
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartAddResponse'
    put:
      tags:
        - 购物车
      summary: 更新购物车商品数量
      operationId: updateCart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cartId
                - quantity
              properties:
                cartId:
                  type: string
                  description: 购物车ID
                quantity:
                  type: integer
                  description: 数量（0表示删除）
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
    delete:
      tags:
        - 购物车
      summary: 删除购物车商品
      operationId: deleteCartItem
      parameters:
        - name: cartId
          in: query
          required: true
          schema:
            type: string
          description: 购物车ID
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'

  /orders:
    get:
      tags:
        - 订单
      summary: 获取订单列表
      operationId: getOrderList
      parameters:
        - name: userId
          in: query
          schema:
            type: string
          description: 用户ID（测试用）
        - name: status
          in: query
          schema:
            type: integer
          description: 订单状态（0-5）
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
    post:
      tags:
        - 订单
      summary: 创建订单
      operationId: createOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - addressId
                - items
              properties:
                userId:
                  type: string
                  description: 用户ID（测试用）
                addressId:
                  type: string
                  description: 地址ID
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      productId:
                        type: string
                      quantity:
                        type: integer
                      spec:
                        type: object
                remark:
                  type: string
                  description: 订单备注
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderCreateResponse'
    put:
      tags:
        - 订单
      summary: 更新订单状态
      operationId: updateOrderStatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - orderId
                - status
              properties:
                orderId:
                  type: string
                  description: 订单ID
                status:
                  type: integer
                  description: 订单状态（0-5）
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'

components:
  schemas:
    BaseResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: success
        data:
          type: object

    ErrorResponse:
      type: object
      properties:
        code:
          type: integer
          example: 1001
        message:
          type: string
          example: 错误信息
        data:
          type: object

    LoginResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
          example: success
        data:
          type: object
          properties:
            token:
              type: string
            userInfo:
              type: object
              properties:
                userId:
                  type: string
                phone:
                  type: string
                nickname:
                  type: string
                avatar:
                  type: string
                points:
                  type: integer
                level:
                  type: integer
                balance:
                  type: number

    ProductListResponse:
      type: object
      properties:
        code:
          type: integer
          example: 0
        message:
          type: string
        data:
          type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/Product'
            total:
              type: integer
            page:
              type: integer
            pageSize:
              type: integer

    Product:
      type: object
      properties:
        productId:
          type: string
        name:
          type: string
        price:
          type: number
        originalPrice:
          type: number
        image:
          type: string
        images:
          type: array
          items:
            type: string
        categoryId:
          type: string
        sales:
          type: integer
        rating:
          type: number
        stock:
          type: integer

    ProductDetailResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          $ref: '#/components/schemas/ProductDetail'

    ProductDetail:
      type: object
      properties:
        productId:
          type: string
        name:
          type: string
        price:
          type: number
        originalPrice:
          type: number
        image:
          type: string
        images:
          type: array
          items:
            type: string
        categoryId:
          type: string
        description:
          type: string
        specs:
          type: object
        sales:
          type: integer
        rating:
          type: number
        stock:
          type: integer

    CartListResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/CartItem'
            total:
              type: integer

    CartItem:
      type: object
      properties:
        cartId:
          type: string
        productId:
          type: string
        quantity:
          type: integer
        spec:
          type: object
        product:
          type: object
          properties:
            name:
              type: string
            price:
              type: number
            image:
              type: string
            stock:
              type: integer

    CartAddResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            cartId:
              type: string

    OrderListResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            list:
              type: array
              items:
                $ref: '#/components/schemas/Order'
            total:
              type: integer
            page:
              type: integer
            pageSize:
              type: integer

    Order:
      type: object
      properties:
        orderId:
          type: string
        orderNo:
          type: string
        status:
          type: integer
        totalAmount:
          type: number
        payAmount:
          type: number
        productCount:
          type: integer
        createTime:
          type: object

    OrderCreateResponse:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        data:
          type: object
          properties:
            orderId:
              type: string
            orderNo:
              type: string
            totalAmount:
              type: number
            payAmount:
              type: number
